.container{
    background: url("9c0270b6c95ee5786eb5975c00f77e13.gif");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 964px;
    background-size: 100%; 
  
}                           
header{
    position: absolute;
    display: flex;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px; 
    position: fixed; 
     
}
img{
    width: 221px;
   
}
.description{
    position: absolute;
    
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    margin-top: 10%;
    margin-left: 15%;
}
.description>h1{
    font-weight: bolder;
    font-style: italic;
    font-size: 50px;
    color: white;
}
.description>p{
    width: 30%;
    font-size: 30px;
    line-height: 1.5;
    color: white;
}
header>div{
    width: 50px;
    height: 50px;
    margin-top: 5%;
    display: flex;
    margin-left: 70%;
}
header div a{
    padding-right:31px ;
   
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    color: black;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 20%;
    padding-left: 10px;
   
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row{
    position: absolute;
    
 
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    margin-top: 10%;
    margin-left: 45%;
  }
  .script{
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 7%;
  }
  .script>h1{
    font-weight: bolder;
    font-style: italic;
    font-size: 50px;
    text-align: center;
  }
  .script>p{
    
    font-size: 30px;
    line-height: 1.5;
  }
  button{
    display: inline;
    background-color: green;
    color: white;
    padding: 20px;
    font-size: 20px;
  }
  * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 704px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
